websupports/
websupports/*
chap1/ch1.scm
chap1/assignments
chap1/assignments/*
chap2/ch2.scm
chap2/ch2support.scm
chap2/ch2tests.scm
chap3/ch3.scm
chap3/ch3support.scm
chap4/ch4.scm
chap4/ch4-ambeval.scm
chap4/ch4-analyzingmceval.scm
chap4/ch4-leval.scm
chap4/ch4-mveval.scm
chap4/ch4-query.scm


